 html,body { 
 	padding:0;
 	margin:0;
 	 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

 }


 .container {
 	position:absolute;
 	height: 100%;
 	min-height: 100%;
 	width: 100%;
 }

 .hook {
 	color:white;
 	font-size: 2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
 	position:relative;
 	bottom:28%;
 	left:20%;
 	z-index: 2;
 	height: 18%;
 	width: 25%;
 	background: none;
 	border: 1px, solid;
 	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0px;
	background-color: #5c5c5c;
	opacity: 0.7;
 }
 #main {
 	margin
 }

 .pane {
 	position: relative;
 	height: 100%;
 	min-height: 100%;
 	width: 100%;

 }

 #pane-1 {
 	position: fixed;
 	top:0;
 	left:0;
 }


 #pane-2 {
 	margin-top: 31%;
 	background-color: #2C63DB;
 	
 }

 #pane-2 table {
 	font-size: 2.5em;
 	color: white;
 	position: relative;
 	top: 25%;
  margin:0 auto;
 }

 #pane-2 tr td {
 	padding-left: 30px;
 }

 #pane-2 tr {
 	margin-top: 20px;
 	margin-bottom: 50px;
 }

#pane-3 {
	background-color: white;
	text-align: center;
	margin
}
 
#pane-3 h1 {
margin-top: 0;
}

#screenshot-1 {
	height: 400px;
}
#screenshot-2 {
	height: 400px;
}




