<div class="container">
	<div class='pane' id="pane-1">
		<img src='http://placehold.it/1270x400'>
		<button class='hook'>Get Prepared</button>
	</div>
	<div class='pane' id="pane-2">
<!-- 		<img src='http://placehold.it/1270x400'>
 -->	</div>
	<div class='pane' id="pane-3">
		<!-- <img src='http://placehold.it/1270x400'> -->
	</div>
</div>