<div class="container">
	<div class='pane' id="pane-1">
		<img id="main" src='http://i.imgur.com/oUUWiM8.png'>
		<button class='hook'>Find help, get found</button>
	</div>
	<div class='pane' id="pane-2">
		<table class="info">
			<tr>
				<td>Find your way to saftey</td>
				<td>Even in areas without internet and cell service</td>
			</tr>
			<tr>
				<td>ESRI API based offline routing</td>
				<td>Contact loved ones to let them know of your safety</td>
			</tr>
		</table>	
	</div>
	<div class='pane' id="pane-3">
		<h1>See our app in action:</h2></br>
		<img id='screenshot-1' src="http://i.imgur.com/86evrL2.jpg">
		<img id='screenshot-2' src="http://i.imgur.com/XKoCECK.jpg">

	</div>
</div>